h1{
    
    text-decoration: underline;
}

#btn{
    padding: 10px;
    background-color: aqua;
    border-radius: 15px;
}
#container{
    margin-top: 10px;
    height: 400px;
    width: 400px;
}
span{
    padding: 9px;
    border: 2px solid black;
    color: gray;
}